PACKDRAW_LEADERBOARD_URL=https://packdraw.com/api/v1/affiliates/leaderboard?apiKey=API_KEY
PACKDRAW_API_KEY=
PACKDRAW_PRIZES=500,250,150,50,25,25
PACKDRAW_PERIOD_START=2026-08-31

KINGZ_LEADERBOARD_URL=https://leaderboard.kingz.win/v1/external/affiliates
KINGZ_API_KEY=
KINGZ_PRIZES=2250,1000,500,100,100,50
KINGZ_PERIOD_START=2026-09-17